@using System.Globalization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - red</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">red</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <div id="alerts" style="position: absolute; top: 0; right: 0;">
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - red - Cached: @DateTime.Now.ToString(CultureInfo.CurrentCulture)
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript" src="lib/signalr/dist/browser/signalr.min.js"></script>

@RenderSection("Scripts", required: false)

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded',
        function() {
            $('.toast').toast('show');
            
            var connection = new signalR.HubConnectionBuilder()
                .withUrl('/alerts')
                .build();

            // Create a function that the hub can call to broadcast messages.
            connection.on('broadcastAlert',
                function(message) {
                    var alertsDiv = document.getElementById('alerts');
                    var toast = document.createElement('div');
                    toast.setAttribute('class', 'toast');
                    toast.setAttribute('role', 'alert');
                    toast.setAttribute('aria-live', 'assertive');
                    toast.setAttribute('aria-atomic', 'true');
                    toast.setAttribute('data-delay', '10000');
                    var header = document.createElement('div');
                    header.setAttribute('class', 'toast-header');
                    header.innerHTML = '<strong class="mr-auto">Alert</strong>';
                    var body = document.createElement('div');
                    body.setAttribute('class', 'toast-body');
                    body.innerHTML = message;
                    toast.appendChild(header);
                    toast.appendChild(body);
                    alertsDiv.appendChild(toast);
                    $(toast).on('hidden.bs.toast',
                        function() {
                            alertsDiv.removeChild(toast);
                        });
                    $(toast).toast('show');
                });

            // Transport fallback functionality is now built into start.
            connection.start()
                .then(() => {
                    console.log('connection started');
                })
                .catch(error => {
                    console.error(error.message);
                });
        });
</script>
</body>
</html>